.customer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}








.customer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    min-width: 200px;
}

.form-group.half-width {
    flex: 1 1 48%;
    /* Ajusta a largura para metade da linha */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Estilo específico para o primeiro grupo de campos */
.form-group-inline {
    display: flex;
    gap: 20px;
    flex: 1 1 100%;
}

.form-group-inline .form-group {
    flex: 1;
    min-width: 0;
    /* Garante que os campos sejam flexíveis */
}

/* Estilo para o campo ID Customer */
.form-group-inline .form-group.id-customer {
    flex: 0 0 10%;
    /* Define a largura como 25% */
}
.btn-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.notification {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24;
}

.notification-buttons {
    margin-top: 10px;
}

.notification-buttons .btn-confirm,
.notification-buttons .btn-cancel {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.notification-buttons .btn-confirm {
    background-color: #28a745;
    color: #fff;
}

.notification-buttons .btn-cancel {
    background-color: #dc3545;
    color: #fff;
}

.autocomplete-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.autocomplete-input {
    flex: 1;
    margin-right: 100px;
        /* Espaço entre o campo de pesquisa e o botão */
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
